*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BootzyTM';
    src: url(assets/fonts/BootzyTM.ttf);
    font-weight: normal;
}

/* General Section */
section{
    display: flex;
}


/* Section Background */
section:nth-of-type(odd){
    background-color: #030303;
}

section:nth-of-type(even){
    background-color: #95598c;
}

/* Hero-Section */

#hero-section{
    height: auto;
    width: auto;
}

.left-hero{
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 760px;
    height: 730px;
}

.logos{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 300px;
    position: absolute;
}

.logos h1{
    font-size: 98px;
    color: #95598c;
    font-family: 'UnifrakturMaguntia', serif;
}

#logo2{
    z-index: 4;
    margin-top: -40px;
    font-weight: 100;
    -webkit-text-stroke: 1px #95598c;
    -webkit-text-fill-color: transparent; 
}

#logo3{
    margin-top: -40px;
}

#model{
    height: 800px;
    width: 800px;
    z-index: 3;
    position: absolute;
    right: 40px;
}


.stars img{
    height: 380px;
    width: 380px;
}


#star-left{
    position: absolute;
    top: 400px;
    left: 280px;
}

#star-out-left{
    position: absolute;
    top: 400px;
    left: 280px;
    z-index: 4;
}

#left-butterfly{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 150px;
    left: 500px;
}

/* RIGHT HERO */

.right-hero{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 730px;

}

#big-butterfly{
    width: 200px;
    height: 200px;
}

#small-butterfly{
    width: 70px;
    height: 70px;
}

#star-right{
    position: absolute;
    left: 545px;
    bottom: 450px;
}

#star-out-right{
    position: absolute;
    left: 525px;
    bottom: 460px;
    z-index: 3;
}

#small-butterfly{
    position: absolute;
    top: 130px;
}

#big-butterfly{
    position: absolute;
    left: 30px;
}

.right-hero .butterflies{
    position: absolute;
    left: 480px;
    top: 450px;
}

.right-hero h2, p{
    color: #FFFF;
    font-family: 'BootzyTM', sans-serif;
}

.right-hero h2{
    font-weight: 100;
}

.short-description{
    position: absolute;
    top: 660px;
    left: 560px;
    text-align: right;
}

#hero-section nav a{
    color: #FFFF;
    text-decoration: none;
    font-weight: 100;
    font-family: 'BootzyTM', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

#hero-section nav{
    position: absolute;
    top: 320px;
    left: 700px;
    display: flex;
    gap: 90px;
}

#about-section{
    display: flex;
    flex-direction: column;
    font-family: 'BootzyTM', sans-serif;

    height: 500px;
}

#about-section nav{
    background-color: #0e0e0e;
    opacity: 50%;
}

#about-section nav a{
    color: rgb(255, 255, 255);
}

#designs-section{
    display: flex;
    flex-direction: column;
}

#contact-section{
    display: flex;
    flex-direction: column;
}
